@page
@model ImportDataModel
@{
    ViewData["Title"] = "Import JLPT Data";
}
<h3>@ViewData["Title"]</h3>
<p>Ingest user data into the database table </p>

<form asp-page-handler="PopulateUserData" method="post">
   
   <button type="submit" class="btn btn-primary" >Populate User Data</button>
</form>